@if (loading()) {
  <ul class="skeleton" data-testid="skeleton" aria-hidden="true">
    <li><span class="skeleton__dot"></span><span class="skeleton__bar"></span></li>
    <li><span class="skeleton__dot"></span><span class="skeleton__bar"></span></li>
    <li><span class="skeleton__dot"></span><span class="skeleton__bar"></span></li>
  </ul>
} @else if (todos().length > 0) {
  <ul class="list" [attr.aria-label]="label">
    @for (todo of todos(); track todo.id) {
      <li class="list__row" animate.leave="list__row--leave">
        <app-todo-item
          [todo]="todo"
          [editing]="todo.id === editingId()"
          (toggled)="toggled.emit({ id: todo.id, completed: $event })"
          (editStarted)="editStarted.emit(todo.id)"
          (titleSaved)="titleSaved.emit({ id: todo.id, title: $event })"
          (editCancelled)="editCancelled.emit()"
        />
      </li>
    }
  </ul>
}
